#toc-container {
    border: 1px solid #aaa;
    display: table;
    padding: 2em;
    width: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
}

#toc-title {
    font-weight: 700;
}
.toc-list li {
    padding: 0.3em;
}
@font-face {
    font-family: "Han Serif";
    src: url("assets/fonts/han-serif.ttf");
}
body {
    font-family: "Han Serif", serif;
    background-color: #c7edcc;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
strong {
    padding: 0.1em;
}
@font-face {
    font-family: "Han Kai";
    src: url("assets/fonts/han-kai.ttf");
}
q, blockquote {
    font-family: "Han Kai", serif;
}
blockquote{
    /*Font*/
    line-height: 1.2em;
    color: #666;
    text-align: justify;

    border-left: 10px solid #ccc;
    border-right: 2px solid #c76c0c;
    margin: 1.5em 10px;
    padding: 0.5em 10px;

    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}
blockquote::before{
    content: "\201C";
    font-family: serif;
    font-weight: bold;
    color: #999;
}
span.comment {
    font-size: 0.8em;
}
