#toc-container {
    border: 1px solid #aaa;
    display: table;
    padding: 2em;
    width: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
}

#toc-title {
    font-weight: 700;
}
.toc-list li {
    padding: 0.3em;
}
@font-face {
    font-family: "Han Serif";
    src: url("assets/fonts/han-serif.ttf");
}
body {
    font-family: "Han Serif", serif;
    background-color: #c7edcc;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
strong {
    padding: 0.1em;
}
@font-face {
    font-family: "Han Kai";
    src: url("assets/fonts/han-kai.ttf");
}
q, blockquote {
    font-family: "Han Kai", serif;
}
span.comment {
    font-size: 0.8em;
}
